.main ul.album_list li, 
.main ul.artist_list li {
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.main ul.artist_list li img {
    display: block;
    margin: auto;
}

.main ul.album_list li img:first-child {
    width: 80px;
    display: block;
    margin: auto;
}

.thumb_medium {
    height: 80px;
}

.thumb_small {
    width: 40px;
    height: 40px;
}

.remote_medium,
.remote_small {
    z-index: 1;
     position: absolute;
}

.remote_small {
    left: 9px;
    bottom: 8px;
}

.remote_medium {
    left: 37px;
    bottom: 71px;
}

#jp_container_1 {
    z-index: 2;
}
