{% load static %}

<h1>Albums</h1>
{% if artists != None %}
    {% for artist in artists %}
        <div>
            {%if artist.picture != null %}
                {% if 'http' in artist.picture %}
                    <img src="{{ artist.picture }}" style="float:left; margin: 0px 24px 10px 0px;max-width: 500px;"/>
                {% else %}
                    <img src="{% static artist.picture %}" style="float:left; margin: 0px 24px 10px 0px;max-width: 500px;"/>
                {% endif %}
            {% else %}
                <img src="{% static "images/no_band.jpg" %}" style="float:left; margin: 0px 24px 10px 0px;max-width: 500px;"/>
            {% endif %}
            <h2>{{ artist.name }}</h2>
            {% if artist.text != null %}
                <p>{% autoescape off %}{{ artist.text }}{% endautoescape %}</p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
        <div style"clear: both;"></div>
    {% endfor %}
{% endif %}
<ul class="album_list">
    {% for artist in artists %}
    <li>
        <a class="async" href="{% url 'songs' 'artist' artist.slug %}">
            <img class="album" src="{% static 'images/no_cover.gif' %}" />
            All Albums for {{ artist.name }}
        </a>
    </li>
    {% endfor %}
    {% for album in albums %}
        {% if album.slug %}
            <li>
                <a class="async" href="{% url 'songs' 'album' album.slug %}">
                    <img class="album_cover" 
                    data-slug="{{ album.slug }}" src="
                    {% if album.picture == None %}
                        {% static 'images/no_cover.gif' %}
                    {% else %}
                        {% if 'http' in album.picture %}
                        {{ album.picture }}
                        {% else %}
                            {% static album.picture %}
                        {% endif %}
                    {% endif %}" 
                    data-picture="{% if album.picture != None %}yes{% else %}no{% endif %}" />
                    {{ album.name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
