{% load static %}

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Style</th>
          <th>Playlist</th>
      </tr>
      </thead>
      <tbody>
        {% for song in songs  %}
        <tr>
            <td>
                <img class="album_cover thumb_small" 
                data-slug="{{ song.album__slug }}" src="
                {% if not song.album__picture %}
                    {% static 'images/no_cover.gif' %}
                {% else %}
                    {% if 'http' in song.album__picture %}
                    {{ song.album__picture }}
                    {% else %}
                    {% static song.album__picture %}
                    {% endif %}
                {% endif %}" 
                     data-picture="{% if song.album__picture %}yes{% else %}no{% endif %}" />
            </td>
            <td>
            {% if 'http' in song.title %}
                <a class="song" data-source="{{ song.filepath }}" href="">{{ song.title }}</a></td>
            {% else %}
                <a class="song" data-source="{{ MEDIA_URL }}{{ song.filepath }}" href="">{{ song.title }}</a></td>
            {% endif %}
            <td><a class="async" href="/songs/album/{{song.album__slug }}">{{ song.album__name }}</a></td>
            <td><a class="async" href="{% url  "albums" song.artist__slug %}">{{ song.artist__name }}</a></td>
            <td><a class="async" href="{% url  "artists" song.style__slug %}">{{ song.style__name }}</a></td>
            <td>
                <a href="#" class="add_to_playlist" data-slug="{{ song.slug }}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            {% if type != null %}
                {% if type == "playlist" %}
                <a href="#" class="remove_from_playlist" data-playlist="{{ playlist.slug }}" data-slug="{{ song.slug }}"><span class="glyphicon glyphicon-minus-sign"></span></a>
                {% endif %}
            {% endif %}
                <a href="{% if 'http' in song.filepath %}{{ song.filepath }}{% else %}{% static  song.filepath %}{% endif %}" class="" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a>
                <a href="{% url "tab" %}?song={{ song.title }}" class="async"><span class="glyphicon glyphicon-music"></span></a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
